**/.cache/*
**/__pycache__/*
**/.ipynb_checkpoints/*
**/dist/*
**/array_sensing.egg-info/*
Standard_array_data/*
Large_array_data/AAs/*.xlsx
Large_array_data/FAs/*.xlsx
Large_array_data/Sugars/*.xlsx
